.parentPane {
	/* -fx-background-color: #eaedf4; */
	-fx-background-radius: 20px;
	-fx-background-color: #eaedf4;
}

.contentContainer {
	-fx-background-radius: 20px;
	-fx-background-color: #eaedf4;
}