.navBar {
	-fx-background-color: #353a57;
	-fx-background-radius: 20px;
	-fx-pref-width: 200px;
}
.iconBox {
	-fx-pref-width: 160px;
	-fx-pref-height: 64px;
	-fx-background-color: #748bf1;
	-fx-background-radius: 10px;
}

.navItem {
	/*	-fx-background-color: #303552;*/
	-fx-pref-width: 146px;
	-fx-pref-height: 46px;
	-fx-text-fill: white;
	-fx-spacing: 4px;
	-fx-font-size: 18px;
	-fx-font-family: "Noto Sans KR";
	/* -fx-font-weight: bold; */
	-fx-alignment: center;

	-fx-alignment: CENTER_LEFT;
}
.navItem:hover {
	-fx-background-color: #303552;
	-fx-cursor: hand;
}
.navGrid {
	-fx-text-alignment: center;
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-background-color: red;
}
