@font-face {
    src:url("../fonts/GmarketSansTTFMedium.ttf");
}
@font-face {
    src:url("../fonts/GmarketSansTTFBold.ttf");
}
@font-face {
    src:url("../fonts/GmarketSansTTFLight.ttf");
}
.root {
-fx-background-color:transparent;
}
* {
    -fx-font-family:'Gmarket Sans TTF Medium';
    -fx-font-size:15px;
}
.labelTitle {
    -fx-font-family:'Gmarket Sans TTF Bold';
}

.btn {
    -fx-background-color:#eda678;
}